@import '../Variables.scss';
.MainPage{
   @include mainpage;
}
.Mainimg{
      width:100%;
}

// Tablet Screen
@media screen and (min-width:761px) and (max-width:1020px)
{
      .MainPage{
            bottom:150px;
      }
}


// Mobile Screen
@media screen and (max-width:760px)
{
      .MainPage{
            bottom:70px;
            font-size: 30px;
      }
}